@model IEnumerable<GithubDashboard.Models.Event>

@{
    ViewBag.Title = "Github Dashboard - Home Page";
}

<div class="jumbotron">
    <h1>GitHub Events</h1>
    @if (!String.IsNullOrEmpty(ViewBag.HitLimitError))
    {
        <p class="text-danger">ERROR: @ViewBag.HitLimitError</p>
    }
    else if (!String.IsNullOrEmpty(ViewBag.Error))
    {
        <p class="text-danger">ERROR: @ViewBag.Error</p>
    }
    else
    {
        <h3>(displaying 30 most recent public events)</h3>
        using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <p>
                <input type="submit" value="Refresh" />
            </p>
        }

        foreach (var item in Model)
        {
            <hr />
            
            <p style="border-width:1px; border-style:dashed">
                <img alt="&#64;@item.actor.login" src="@(item.actor.avatar_url + "&amp;s=40")" width="20" height="20">
                User: <strong>@item.actor.display_login</strong> issued a <strong>@item.type</strong> at <strong>@item.repo.name</strong>
            <br />@Html.ActionLink("More Details", "EventDetails/" + @item.actor.display_login + "/" + @item.id)</p>
        }
    }
</div>