@model IEnumerable<GithubDashboard.Models.Event>

@{
    ViewBag.Title = "Github Dashboard - Home Page";
}

<div class="jumbotron">
    <h1>GitHub Events</h1>
    @if (!String.IsNullOrEmpty(ViewBag.HitLimitError))
    {
        <p class="text-danger">ERROR: @ViewBag.HitLimitError</p>
    }
    else
    {
        <h3>(displaying 30 most recent events)</h3>
        using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <p>
                <input type="submit" value="Refresh" />
            </p>
        }

        foreach (var item in Model)
        {
            <hr />
            <h4>Event</h4>
            <p>User: @item.actor.display_login</p>
            <p>Type: @item.type</p>
            <p>Repository: @item.repo.name</p>
            <p>@Html.ActionLink("More Details", "EventDetails/" + @item.actor.display_login + "/" + @item.id)</p>
        }
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>